# github
.github/

# husky
.husky/

docs/
COMMIT_STANDARD.md

# source

lib/
tests/
index.ts
tsconfig.json
.prettierrc

# eslint
.eslintrc.js
.eslintignore

.env.test
.env.test.local
.release-it.json
.vscode/settings.json
commitlint.config.js

*.pem

jest.config.ts